body {
  background-color: lightblue;
  text-align: center;
}

.dataDiv {
  border-style: solid;
  border-color: blue;
  margin: 0 100px;
}

.outputStyle {
  border-style: solid;
  background-color: lightgray;
  height: 100px;
  margin: 50px auto;

  width: 600px;
}

.dataStructure {
  display: block;
}
